@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Open+Sans:wght@300;400&display=swap');



/* -------------------- */

:root {
    --bg-dark: #0a1016;
}

/* -------------------- */


/* -------------------- */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-dark);
}

img, picture, video, canvas, svg {
    display: block;
    width: 100%;
}

input, select, textarea, button {
    font-family: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

#root, #__next {
    isolation: isolate;
}

html {
    scroll-behavior: smooth;
}

/* ------------------------------------ */


/* ------------------------------------ */

/* UTILITY CLASSES */

.container {
  padding: 4rem 2rem;
  color: var(--text);
}

.highlighted {
  color: var(--accent);
}

.hidden {
  display: none;
}

.btn {
  background-color: var(--accent);
  color: var(--text);
  padding: 0.5rem 3rem;
  border-radius: 5rem;
  display: inline-block;
  margin-top: 2rem;
  border: 2px solid var(--accent);
}

.btn:hover {
  background-color: transparent;
  color: var(--accent);
}

/* ------------------------------------ */


/* ------------------------------------ */

/* #### BODY #### */


/* NAVBAR */
#headSection {
    padding: 10px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: rgb(248, 228, 228);
}

#headSection #logo a {
    font-size: 22px;
    font-style: "Roboto", sans-serif;
    font-weight: bolder;
    color: var(--bg-dark);
}

#headSection #navbar a {
    color: var(--bg-dark);
}

#headSection #navbar #nav-links {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}


/* HERO */
#bodySection p {
    font-size: 30px;
    text-align: center;
    padding: 100px;
}

#bodySection #heroSection {
    height: 1000px;
    background-color: violet;
    border-bottom: 5px solid white;
}

#bodySection #hr1 {
    height: 500px;
    background-color: wheat;
    border-bottom: 5px solid white;
}

#bodySection #hr2 {
    height: 500px;
    background-color: rgb(170, 124, 39);
    border-bottom: 5px solid white;
}

#bodySection #hr3 {
    height: 500px;
    background-color: rgb(29, 160, 184);
    border-bottom: 5px solid white;
}

/* ------------------------------------ */


/* ------------------------------------ */

/* #### FOOTER #### */

#footerSection {
    height: 1000px;
    background-color: rgb(216, 21, 21);
}

#footerSection p {
    font-size: 30px;
    text-align: center;
    padding: 100px;
}

/* ------------------------------------ */


/* ------------------------------------ */

/* #### RESPONSIVE #### */





/* ------------------------------------ */


/* ------------------------------------ */