@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Open+Sans:wght@300;400&display=swap');



/* ------------------------------------ */
/* #### ROOT #### */
:root {
    --bg-dark: #0a1016;
}

/* ------------------------------------ */




/* ------------------------------------ */
/* #### CSS BOILERPLATE #### */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-dark);
}

img, picture, video, canvas, svg {
    display: block;
    width: 100%;
}

input, select, textarea, button {
    font-family: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

#root, #__next {
    isolation: isolate;
}

html {
    scroll-behavior: smooth;
}

/* ------------------------------------ */




/* ------------------------------------ */

/* #### UTILITY CLASSES #### */

.container {
  padding: 4rem 2rem;
  color: var(--text);
}

.highlighted {
  color: var(--accent);
}

.hidden {
  display: none;
}

.btn {
  background-color: var(--accent);
  color: var(--text);
  padding: 0.5rem 3rem;
  border-radius: 5rem;
  display: inline-block;
  margin-top: 2rem;
  border: 2px solid var(--accent);
}

.btn:hover {
  background-color: transparent;
  color: var(--accent);
}

.line {
    display: block;
    height: 3px;
    width: 25px;
    background-color: var(--bg-dark);
    border-radius: 10px;
    margin: 5px 0;
}

.para {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: whitesmoke;
    padding: 0;
    color:rgba(242, 243, 244, 0.584);
}

.svgSource {
    width: 1.3rem;
    height: 1.3rem;
}

.headingTag {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    color: whitesmoke;
}

/* ------------------------------------ */




/* ------------------------------------ */

/* #### NAVBAR #### */

#headSection {
    padding: 40px 111px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: rgb(25, 25, 36);
    top: 0px;
    /* z-index: 10; */
    /* background-color: rgb(28, 28, 39); */
    /* background-color: rgb(248, 228, 228); */
}

#headSection #logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
#headSection #logo svg {
    height: 2.7rem;
    width: 2.7rem;
    margin-right: 2px;
    color: whitesmoke;
}
#headSection #logo a {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
    /* color: var(--bg-dark); */
}

#headSection #navbar a {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: whitesmoke;
    /* color: var(--bg-dark); */
}

#headSection #navbar #nav-links {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

#nav-toggler {
    display: none;
}


/* ------------------------------------ */




/* ------------------------------------ */

/* #### BODY #### */

/* HERO */

#bodySection p {
    font-size: 30px;
    text-align: center;
    padding: 100px;
}

/* This Changes For Additional Designs In SideBars Of Web */
/* #bodySection {
    padding: 0 111px;
} */

#bodySection #heroSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 700px;
    background-color: rgb(25, 25, 36);
    /* background-color: rgb(28, 28, 39); */
    /* border-bottom: 5px solid white; */
    padding: 0 130px;
    padding-bottom: 135px;
}
#bodySection #heroSection #desc {
    width: 550px;
    height: 400px;
    /* margin-top: -40px; */
    /* background-color: palegoldenrod; */
}
#desc h1 {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: whitesmoke;
    line-height: 68px;
    /* line-height: 3.2rem; */
}
#desc h2 {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: whitesmoke;
    /* margin: 10px 0; */
    line-height: 70px;
}
#desc .para {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: whitesmoke;
    padding: 0;
    color:rgba(242, 243, 244, 0.584);
}
#desc #resumeButton {
    font-family: "Poppins", sans-serif;
    /* font-weight: 600; */
    font-weight: bold;
    font-size: 20px;
    margin: 40px 0;
    padding: 16px 74px;
    /* padding: 14px 30px; */
    border-radius: 20px;
    border: none;
    /* background: linear-gradient(225deg, rgb(132, 0, 255) 0%, rgb(230, 0, 255) 100%); */
    background: linear-gradient(225deg, rgb(255, 8, 0) 0%, rgb(255, 81, 0) 100%);
    color: whitesmoke;
    cursor: pointer;
}

#heroSection #heroImage {
    width: 400px;
    height: 400px;
    background-color: khaki;
    border-radius: 50%;
}



/* SKILL SECTION */
#bodySection #skills {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: rgb(25, 25, 36);
    /* border-bottom: 5px solid white; */
    padding: 40px 130px;
}

#bodySection #skills #skillSection {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    /* background-color: rgb(10, 184, 175); */
    padding-bottom: 20px;
}
/* #skillSection #introSkill h1 {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    color: whitesmoke;
} */
#skillSection #descSkill {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 95%;
    /* border: 2px solid red; */
}
#skillSection #descSkill .skillShowCase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 505.2px;
    width: 100%;
    border: 0.1px solid rgb(133, 76, 230);
    box-shadow: 0px 4px 24px rgba(23, 92, 230, 0.15);
    border-radius: 10px;
    padding: 20px;
}
#descSkill .skillShowCase .skillName {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #b1b2b3;
}
#descSkill .skillShowCase .skillSet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(107, 107, 83); */
    width: 100%;
    gap: 18px;
    margin: 20px;
}
#descSkill .skillSet .skill {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #f2f3f480;
    border-radius: 10px;
    color: #f2f3f480;
    padding: 10px 20px;
}



/* EXPERIENCE SECTION */
#bodySection #experience {
    height: 500px;
    background-color: rgb(25, 25, 36);
    /* background-color: rgb(170, 124, 39); */
    border-bottom: 5px solid white;
    padding: 40px 130px;
}
#experience #expSection {
    /* background-color: khaki; */
    height: 500px;
}
#expSection #introExp {
    /* background-color: lightcoral; */
}
#expSection #descExp {
    /* background-color: steelblue; */
}




/* PROJECTS SECTION */
#bodySection #projects {
    height: 500px;
    background-color: rgb(29, 160, 184);
    border-bottom: 5px solid white;
    padding: 0 30px;
}

/* ------------------------------------ */




/* ------------------------------------ */

/* #### FOOTER #### */

#footerSection {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: rgb(248, 228, 228);
    height: auto;
    background-color: rgb(28, 28, 39);
    padding: 50px 30px;
}

#footerSection p {
    font-size: 30px;
    text-align: center;
    padding: 100px;
}

#footerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#footerDiv h2 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 800;
}

#footerDiv h4 {
    font-size: 20px;
    font-weight: 400;
}

#footerDiv #contactForm {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    width: auto;
    margin-top: 30px;
    padding: 0;
    /* background-color: rgb(230, 84, 17); */
    /* background-color: rgb(28, 28, 39); */
    background-color: rgb(6, 6, 19);
    border: 2px solid rgb(33, 33, 82);
    border-radius: 10px;
}

#contactFormDiv {
    margin: 0;
    padding: 0;
}

#contactFormDiv #reachMe h3 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
}

#contactFormDiv textarea {
    resize: none;
}
#contactFormDiv input[type="submit"] {
    margin-bottom: 10px;
    color: rgb(33, 33, 82);
}

#contactForm .formEle {
    margin: 20px 30px;
}

#contactForm input, textarea {
    min-width: 100%;
    padding: 13px;
    border: 2px solid grey;
    outline: none;
    border-radius: 10px;
}

#contactForm input:focus, textarea:focus {
    border-color: orangered;
}

#contactForm input[type="submit"] {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

#footFooter {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

#footFooter #socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
}

#footFooter #socials a, a:visited {
    font-size: 20px;
    text-decoration: none;
    /* color: rgb(175, 171, 171); */
    color: rgb(248, 228, 228);
}
#footFooter #socials a:hover, a:focus {
    /* color: rgb(231, 228, 228); */
    color: orangered;
}

#footFooter h1 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-left: 20px;
}

#footFooter h3 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 25px;
}

/* ------------------------------------ */




/* ------------------------------------ */

/* #### RESPONSIVE #### */

@media (max-width: 770px) {

    #navbar {
        display: none;
    }
    #nav-toggler {
        display: block;
    }

}



/* ------------------------------------ */


/* ------------------------------------ */